[submodule "raxtax"]
	path = raxtax
	url = https://github.com/noahares/raxtax.git
	branch = main
[submodule "pygbif"]
	path = my_pygbif
	url = https://github.com/TRojaner2013/pygbif.git
	branch = eyeBOLD
[submodule "kgcpy"]
	path = my_kgcpy
	url = https://github.com/TRojaner2013/kgcpy.git
	branch = vec_impl
